.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container{
  display: flex;
  justify-content: center;
}

.events{
  margin: 20px 10px;
}

.paddingtop{
  padding-top: 25px;
}

.cardposition{
  margin-top: 7pc;
}

.medhistoryform{
  margin-top: 15pc;
}

.paddingleft{
  padding-left: 90px;
}

.paddingright{
  padding-right: 50px;
}

.spaceleft{
  margin-left: 270px;
}

.tableborderprofile{
  border: 2px dodgerblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
